@page "/create-application"

@using OroIdentity.Web.Client.Constants
@using OroIdentity.Web.Client.Interfaces
@using OroIdentity.Web.Client.Models

@inject IApplicationsService Service
@inject IToastService ToastService
@inject NavigationManager NavigationManager
@inject ILogger<CreateApplication> logger

<PageTitle>Create Application</PageTitle>

<HeaderPagesComponent TitlePage="Create Applications" Description="Create your application">
</HeaderPagesComponent>

<FluentDivider Style="width: 100%;height:20px;" Orientation=Orientation.Horizontal Role="DividerRole.Separator"></FluentDivider>

<FluentEditForm Model="@newApplication" OnValidSubmit="HandleSubmit">
    <div style="height:260px; border-radius: 10px; border: 1px solid grey; padding:10px">
        <FluentSpacer />
        <FluentLabel Typo="Typography.H4">Create Application</FluentLabel>
        <FluentGrid>
            <FluentGridItem md="4" sm="4">
                <FluentTextField Size="100" style="size:28px !important;width:100%;" @bind-Value="newApplication.ClientId" Label="ClientId"
                                 Required="true" />
            </FluentGridItem>
            <FluentGridItem md="4" sm="4">
                <FluentTextField Style="width:100%" @bind-Value="newApplication.DisplayName" Label="DisplayName" Required="true" />
            </FluentGridItem>
            <FluentGridItem md="4" sm="4">
                <FluentSelect Style="width:100%" @bind-Value="newApplication.ClientType" Label="ClientType"
                              Items="OroIdentityWebConstants.DictionaryClientTypes" Id="clienttype-listbox"
                              OptionValue="@(p => p.Key)" OptionText="@(p => p.Value)" OptionTitle="@(p => p.Value)" />
            </FluentGridItem>
            <FluentGridItem md="4" sm="4">
                <FluentSelect Style="width:100%;" @bind-Value="newApplication.ConsentType" Label="ConsentType"
                              Items="OroIdentityWebConstants.DictionaryConsentTypes" Id="consenttype-listbox"
                              OptionValue="@(p => p.Key)" OptionText="@(p => p.Value)" OptionTitle="@(p => p.Value)" />
            </FluentGridItem>
            <FluentDivider />
            <FluentGridItem md="12" sm="12">
                <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Edit Application
                </FluentButton>
            </FluentGridItem>
        </FluentGrid>
    </div>
</FluentEditForm>

@code {
    public ApplicationViewModel? newApplication { get; set; }

    protected override async Task OnInitializedAsync()
    {
        newApplication ??= new ApplicationViewModel();
    }

    private async Task HandleSubmit()
    {
        await Service.CreateApplicationAsync(newApplication, CancellationToken.None);
        newApplication = new();
        ToastService.ShowSuccess("Application edited successful");
        await Task.Delay(500);
        NavigationManager.NavigateTo("/applications");
    }
}