@inherits LayoutComponentBase
@inject IStringLocalizer<SharedResources> L

<FluentDesignTheme @bind-Mode="@themeMode" StorageName="theme" />

<FluentToastProvider MaxToastCount="5" />
<FluentDialogProvider />
<FluentTooltipProvider />

<FluentLayout>
    <FluentHeader>
        OroIdentityServer
        <FluentSpacer />
        <AuthorizeView>
            <Authorized>
                <FluentLabel Style="margin-right: .5rem;">@context.User.Identity?.Name</FluentLabel>
            </Authorized>
        </AuthorizeView>
        <LanguagePicker />
        <FluentButton Appearance="Appearance.Stealth"
                      IconStart="@(themeMode == DesignThemeModes.Dark ? new Icons.Regular.Size20.WeatherSunny() : new Icons.Regular.Size20.WeatherMoon())"
                      Title="@L["ToggleTheme"]" OnClick="ToggleTheme" />
        <FluentButton Appearance="Appearance.Stealth"
                      IconStart="@(new Icons.Regular.Size20.ArrowExit())"
                      Title="@L["SignOutTitle"]"
                      Href="/Account/Logout" />

    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentBodyContent Class="body-content">
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <a href="https://www.fluentui-blazor.net" target="_blank">Documentation and demos</a>
        <FluentSpacer />
        <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">About Blazor</a>
    </FluentFooter>
</FluentLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private DesignThemeModes themeMode = DesignThemeModes.Dark;

    private void ToggleTheme()
        => themeMode = themeMode == DesignThemeModes.Dark ? DesignThemeModes.Light : DesignThemeModes.Dark;
}
